[submodule "/Users/mattotousa/GameDev/megastrukture/submodules/tattomoosa/git_submodule_plugin/.submodules/lightyyt/GDProfiler"]
	path = /Users/mattotousa/GameDev/megastrukture/submodules/tattomoosa/git_submodule_plugin/.submodules/lightyyt/GDProfiler
	url = git@github.com:lightyyt/GDProfiler.git
